<div class="banner" style="background-image: linear-gradient(-225deg, rgba(240, 245, 231,0.5) 0%, rgba(71,140,125,0.5) 50%),url(<%= cl_image_path("lyil8aeia35a222ptcua") %>)">
  <div class="banner-content">
    <h1>Primary analysis made easy</h1>
    <p>Generate primary competitive reviews in one click and free-up time for in-depth analyses</p>
    <%= link_to "Start", new_query_path, class: "btn btn-success btn-lg" %>
  </div>
</div>

<div id="value-proposition">
  <div class="container">
    <h3><strong style="color:#478C7D">canopyProject </strong>value proposition</h3>

    <div class="row">
    <div class="col-sm-12 col-md-4">
        <div class="offering info-box">
          <div class="padded-small">
          <div class="incon-cube">
              <i class="fa fa-bar-chart" aria-hidden="true" style="font-size:80px; padding: 5px 0px;"></i>
            </div>
            <h3>Multiple analyses</h3>
            <p class="offering-item">DuPont Analyses</p>
            <p class="offering-item">Valuation ratios</p>
            <p class="offering-item">Correlations</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="offering info-box">
          <div class="padded-small">
            <div class="incon-cube">
              <i class="fa fa-globe" aria-hidden="true" style="font-size:80px; padding: 5px 0px;"></i>
            </div>
            <h3>Global coverage</h3>
            <p class="offering-item">XX countries</p>
            <p class="offering-item">Europe, US,...</p>
            <p class="offering-item">...and many more to come</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="offering info-box">
          <div class="padded-small">
            <div class="incon-cube">
              <i class="fa fa-cubes" aria-hidden="true" style="font-size:80px; padding: 5px 0px;"></i>
            </div>
            <h3>Granular data</h3>
            <p class="offering-item">Multi-year trailing basis</p>
            <p class="offering-item">Updated every day</p>
            <p class="offering-item">Standardized across regions</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="tool-presentation">
  <p>Data visualization example to be presented here</p>
    <!-- preparing a DOM with width and height for ECharts -->
  <div id="main" style="width: 600px;height:400px;"></div>


  <% content_for(:after_js) do %>
  <%= javascript_tag do %>
    // initialize echarts instance with prepared DOM
var myChart = echarts.init(document.getElementById('main'));
// draw chart
myChart.setOption({
  title: { text: 'Company X, Sales evolution' },
  tooltip: {},
  xAxis: {
    data: ["2012","2013","2014","2015","2016","2017"]
  },
  yAxis: {},
  series: [{
    name: 'sales',
    type: 'bar',
    data: [5, 20, 36, 50, 45, 55]
  }]
});
  <% end %>
<% end %>
</div>

<div id="contact-mail">
  <div class="container">
      <h3>Stay tuned and subscribe to our newletter</h3>
      <form  class="form-inline">
        <label class="sr-only" for="inlineFormInput">Name</label>
        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="smart@analysis.com">
        <button type="submit" class="btn btn-success">Subscribe</button>
      </form>
  </div>
</div>

<%= render 'shared/footer' %>
