.main_container {
  display: flex;
}

.sidebar {
  min-height: 100%;
  min-width: 75px;
  background-color: $gray;
  display: block;
  color: $light;
}

.sidebar_menu {
  width: 100%;
  text-align: center;
  padding: 10px 0px;
}


.sidebar_menu_icon {
  font-size: 30px;
  display: flex;
  align-items: center;
}

.sidebar_menu_tracker {
  width: 5px;
  height: 30px;
  background-color: $green;
}

.sidebar_menu_icon_content{
  flex: 1 0 auto;
  text-align: center;
}

.sidebar_menu_text {
  font-size: 10px;
}



